/*
Breakpoints:
1024px - 1600px; dawn
667px - 1024px; day
376px - 667px; night
*/

@media (min-width: 1024px) and (max-width: 1600px) {/*breakpoint en que el aparece el gatito acostado y el fondo de amanecer*/
  body {
    background-image: url("img/kitten-large.png"), url("img/dawn.png");/*como el gatito era una imagen transparente puse las dos imagenes juntas, evitando usar display*/
    background-repeat: no-repeat;
    background-size: 48%, cover;
    height: 100%;
    background-position: bottom center, center center; /*posiciona el fondo para que ocupe toda la pantalla*/
    background-attachment: fixed;
  }
}

@media (min-width: 667px) and (max-width: 1024px) {/*breakpoint en que el aparece el gatito sentado y el fondo de dia*/
  body {
    background-image: url("img/kitten-medium.png"), url("img/sunny-day.jpg");
    background-repeat: no-repeat;
    background-size: 48%, cover;
    height: 100%;
    background-position: bottom center, center center;
    background-attachment: fixed;
  }
}

@media (min-width: 376px) and (max-width: 667px) {/*breakpoint en que el aparece el gatito de pie y el fondo de noche*/
  body {
    background-image: url("img/kitten-small.png"), url("img/night.jpg");
    background-repeat: no-repeat;
    background-size: 48%, cover;
    height: 100%;
    background-position: bottom center, center center;
    background-attachment: fixed;
  }
}